---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    <h2>{{ category[1].title }}</h2><hr />
    <div class="publications-grid">
      {% for post in site.publications reversed %}
        {% if post.category != category[0] %}
          {% continue %}
        {% endif %}
        {% include archive-single.html type="grid" %}
      {% endfor %}
    </div>
  {% endfor %}
{% else %}
  <div class="publications-grid">
    {% for post in site.publications reversed %}
      {% include archive-single.html type="grid" %}
    {% endfor %}
  </div>
{% endif %}

<h2>Chinese Patents</h2>
<p>Those marked by ‘*’ have been granted.</p>
<ol>
  <li>*(202310288277.8)分布式训练方法、装置、终端设备及计算机可读介质</li>
  <li>(202410162884.4)基于微分不变量的仿射等变网络模型的图像分类方法</li>
  <li>*(202410984193.2)无线通信系统的小区标识分配方法及相关设备</li>
  <li>(202510575521.8)基于原始对偶图神经网络学习优化的最大分割求解方法及相关设备</li>
  <li>(202510695996.0)基于重参数化图神经网络的松弛优化采样的最大分割求解方法及相关设备</li>
</ol>



